*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.container {
    display: flex;
    place-content: center;
}
.middle {
    line-height: 11px;
    display: grid;
    place-content: center;
    height: 220px;
    width: 328px;
    font-family: 'Merriweather', serif;
    background-image: linear-gradient(to bottom, #eaf4d9, #fefefc);
    margin-top: 19px;
    margin-right: 3px;
    margin-left: 44px;
}

.delicious{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 38px;
}

h1 {
    color: #87a448;
}

.diffcolor {
    color: #614240;
}

h3 {
    align-self: flex-end;
    margin-top: 1px;
    color: #bf8a44;
}

.para2 {
    line-height: 1px;
}

.para {
    color: #77484b;

}

.diffcolor2 {
    color: #6b8c44;
}

.username {
    color: #afc281;
}

#uname {
    border: none;
    background-color: #eff0dc;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.password {
    color: #afc281;
}

#pword {
    border: none;
    background-color: #eff0dc;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.loginbtn {
    margin-top: 20px;
    margin-left: 133px;
    background-color: #eaf4d9;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
 
.last {
    width: 246px;
    height: 220px;
    margin-top: 19px;
    background-image: linear-gradient(to bottom,#f0eed5 ,#ffffff );

}
 
.containlast {
    
    margin-left: 32px;
    margin-top: 21px;
}

.combineML {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.Taste {
    margin-left: 102px;
    margin-top: 18px;
}

.container2 {
    display: flex;
}

.downfirst {
    height: 300px;
    width: 270px;
    margin-left: 11px;
    place-items: center;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    width: 200px;
    background-color: #f5f9eb;
    color: #a6bb7a;
    height: 25px;
    margin-top: 30px;
    border: 1 px dotted #010100 ;
    border-right: 0px;    
    border-left: 0px;
}

.navcontent {
    margin-top: 20px;
}

li {
   display: flex;
   list-style-type: none;
   height: 40px;
   width: 203px;
   background-color: #f4efe2;
   align-items: center;
   color:#a6bb7a ;
   margin-bottom: 2px;
   background-image: linear-gradient(to top, #f3eee0, #faf8f3);
}

.arrow {
    border: solid #d5dcb9;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 6px;
    margin-right: 12px;
}

.right {
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.para {
    display: flex;
}
.month {
     justify-content: center;
     box-shadow:  #ebe3b5 -5px -5px, #ebe3b5 -10px -10px;
     height: 40px;
     width: 50px;
     margin-left: 63px;
     margin-top: -19px;
     border: 1px solid #ebe3b5 ;
     background-color: #f5f2df;
}

h6 {
    color: #7fa617;
    margin-left: 16px;
}

.date {
    display: flex;
    justify-content: center;
    font-size: 35px;
    background-color: #ede1bb;
    font-family: 'Merriweather', serif;
}

h2 {
    margin-left: 35px;
    color: #654040;
}





