.container{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
}
h1{
   background-color: brown;
   color: aliceblue;

}
body{
    background-color: bisque;
}